.nme {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16pt;
font-weight: bold;
}
.itl {
 font-style: italic;
}
.fs12 {
    font-size: 12pt;
}
.sp {
    border-radius: 10%;
    background-color:rgb(38, 141, 141);
    padding: 5px;
    font-size: 11pt;
    margin: 5px;
}

.dvx {
    padding-left: 8px;
    vertical-align: top;
    text-align: top;
   
}

.tabp {
    padding-left: 40px;
    /* border: 1px solid silver; */
    margin-left: 30px;
    
}

.tabt {
    color: white;
    width: 200px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-radius: 5px;
    display: table-cell;
    text-align: center;
  }

  .table1 {
    display: table;
  }